* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Space Mono", monospace;
}

body {
  background-image: url("C:\\Users\\user\\Downloads\\img2.jpeg"); /* Replace 'path-to-your-image.jpg' with the actual path to your image file */
  background-size: cover; /* This property ensures the image covers the entire viewport */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed; /* Keeps the background fixed as the content scrolls */
}

.navbar {
  background-color: #9d42f5;
  width: 100%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  height: 6rem;
  padding: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition properties */
}

/* Styles for the navbar on hover */
.navbar:hover {
  background-color: #7c30d1; /* Change the background color on hover */
  transform: translateY(-5px); /* Add a slight upward lift on hover */
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2); /* Modify the box shadow */
}

.navbar-header {
  color: aliceblue;
  font-weight: 900;
  font-size: 3rem;
  margin-left: 2rem;
}

.navbar-header-C {
  color: #e83aae;
}
.navbar-header-M {
  color: #e83aae;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 0.8rem;
  max-width: 40rem;
  margin-left: 8rem;
}

.intro-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-label {
  color: white;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 1rem;
  align-self: baseline;
}

.intro-textarea {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  font-size: 1rem;
}

/* Existing button styles */
button {
  background-color: #9d42f5;
  color: aliceblue;
  border: none;
  width: 50%;
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  background: linear-gradient(
    90deg,
    #7c30d1,
    /* Start color */ #9d42f5 /* End color */
  );
  transform: scale(1.05);
}

.namecard-grid {
  display: grid;
  grid-template: auto auto / repeat(3, 1fr);
  gap: 1.8rem;
  margin-left: 9.5rem;
}

.namecard-container {
  max-width: 20rem;
  max-height: 20rem;
  background-color: wheat;
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
  overflow: hidden;
  -webkit-box-shadow: -2px -1px 15px -4px rgba(0, 0, 0, 0.78);
  box-shadow: -2px -1px 15px -4px rgba(0, 0, 0, 0.78);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.namecard-technologies{
  display: flex;
  gap: 1rem;
}
.namecard-technologies p{
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.3rem;
}